<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header bg-primary">
                Add Cookie
            </h5>
            <div class="card-body">
                <form action="/addCookie" method="POST">
                    <div class="form-group">
                        <label for="cookieName">Name:</label>
                        <input type="text" class="form-control" name="name" id="cookieName" required>
                    </div>
                    <div class="form-group">
                        <label for="cookieValue">Value:</label>
                        <input type="text" class="form-control" name="value" id="cookieValue" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <h5 class="card-header">
                Existing Cookies
            </h5>
            <div class="card-body">
                {{#if cookies}}
                <form action="/removeCookie" method="POST">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each cookies}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{value}}</td>
                                <td><input class="checkbox-inline" type="checkbox" name="toRemove" value="{{name}}"></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <p>Remember that you can see all the cookies in your browser's debug view!</p>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Remove selected</button>
                    </div>
                </form>
                {{else}}
                <p class="card-text">None</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>